# True for development, False for production
DEBUG=True

SECRET_KEY=my0joyo%95g_y$e2gice5hu4x^1$w!qmq3k_ny*h%6t3d8_m!(

# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=appseed_db
# DB_USERNAME=appseed_db_usr
# DB_PASS=pass
# DB_PORT=3306